html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    font-weight: lighter;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

body {
    width: 100%;
    min-width: 375px;
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 12px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

#content-foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.icon {

    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    color: black;
    background-color: transparent;
    cursor: pointer;
}

.icon svg {
    display: block;

    width: 32px;
    height: 32px;
    fill: currentColor;
}