html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Segoe UI", sans-serif;
    font-weight: lighter;
}

body {
    width: 100%;
    min-width: 375px;
}

.slogan {
    padding: 12px;
    font-size: 18px;
    color: white;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
}

.signature {
    padding: 12px;
    width: 100%;
    max-width: 180px;
    height: auto;
    display: block;
}