header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

.header-icon {
    width: 24px;
    height: 24px;

    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    color: black;

    cursor: pointer;
}

.header-icon svg {
    display: block;

    width: 24px;
    height: 24px;
    fill: currentColor;
}