.full-screen {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.two-columns {
    flex: 1;
    display: grid;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-footer-aside {
    display: flex;
    align-items: center;
    gap: 12px;
}