.full-screen {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.two-columns {
    flex: 1;
    display: grid;
}

.content {
    /* Cho right-sidebar sử dụng Flexbox */
    display: flex;

    /* Xếp các phần tử con theo chiều dọc */
    flex-direction: column;

    /* Đẩy top-area lên trên và bottom-area xuống dưới */
    justify-content: space-between;
}