.full-screen {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.two-columns-1 {
    width: 100%;
    flex: 1;
    min-height: 0;

    display: grid;

    grid-template-columns:
        max-content minmax(0, 1fr);

    box-sizing: border-box;
}

.two-columns-2 {
    width: 100%;
    flex: 1;
    min-height: 0;

    display: grid;

    grid-template-columns:
        minmax(0, 1fr) max-content;

    box-sizing: border-box;

    border-radius: 12px 0px 0px 12px;

    background-image: url("../images/backgrounds/bg2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
}

.content {
    /* Cho right-sidebar sử dụng Flexbox */
    display: flex;

    /* Xếp các phần tử con theo chiều dọc */
    flex-direction: column;

    /* Đẩy top-area lên trên và bottom-area xuống dưới */
    justify-content: space-between;
}