#qrModal {
    position: fixed;
    inset: 0;

    display: none;

    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.5);

    z-index: 9999;
}

#qrModal.active {
    display: flex;
}

.qr-box {
    padding: 12px;

    background: white;
    border-radius: 12px;

    text-align: center;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}