.modal {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    z-index: 9999;
}

.modal.active {
    display: flex;
}

.modal-box {
    padding: 16px;
    margin: 16px;
    border-radius: 12px;
    background: white;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.modal-box hr {
    border: none;
    border-top: 1px dashed gray;
}

.menu-link {
    display: block;
    text-decoration: none;
    padding: 12px;
    font-size: larger;
    font-weight: bolder;
    color: black;
}