html,
body {
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.full-screen {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.two-columns-1 {
    width: 100%;
    flex: 1;
    min-height: 0;

    display: grid;

    grid-template-columns:
        max-content minmax(0, 1fr);

    box-sizing: border-box;
}

.two-columns-2 {
    width: 100%;
    flex: 1;
    min-height: 0;

    display: grid;

    grid-template-columns:
        minmax(0, 1fr) max-content;

    box-sizing: border-box;

    background-image: url("../images/backgrounds/bg3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
}

.content {
    /* Cho right-sidebar sử dụng Flexbox */
    display: flex;

    /* Xếp các phần tử con theo chiều dọc */
    flex-direction: column;

    /* Đẩy top-area lên trên và bottom-area xuống dưới */
    justify-content: space-between;

    /* Căn các phần tử con về phía bên phải */
    /* align-items: flex-end; */

    /* Tạo khoảng cách 0px ở bên trong sidebar */
    padding: 0px;

    /* Padding không làm tăng kích thước tổng của sidebar */
    box-sizing: border-box;
}

.slogan {
    margin: 0;
    padding: 12px;

    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: lighter;

    color: white;

    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
}

.signature {
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 100%;
    max-width: 180px;
    height: auto;

    display: block;
}