html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    background-color: black;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;

    background-image: url("../images/backgrounds/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    flex: 1;
}