/* ==============================
   RESET
   ============================== */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}


/* ==============================
   PAGE
   ============================== */

body {
    min-height: 100vh;
    min-height: 100dvh;

    overflow-x: hidden;

    background-image: url("../images/backgrounds/bg3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}