<!-- QR modal -->
<div id="qr-modal" class="modal">
    <div class="modal-box">
        <div style="display: flex; justify-content: center; align-items: center; padding: 12px;">
            <img src="/images/qr-code/phamnguyenthuy.svg" style="max-width: 220px;">
        </div>

        <p>
            Quét mã để truy cập website
        </p>
    </div>
</div>

<!-- Menu modal -->
<div id="menu-modal" class="modal">
    <div class="modal-box" style="max-width: 600px; width: 600px;">
        <a class="menu-link" href="/">Home</a>
        <hr>
        <a class="menu-link" href="#">About</a>
        <hr>
        <a class="menu-link" href="#">Portfolio</a>
        <hr>
        <a class="menu-link" href="#">Contact</a>
        <hr>
        <a class="menu-link" href="#">Blog</a>
    </div>
</div>